/*-----------------------------------------------------------
 * Reflection post button styles
 *----------------------------------------------------------*/

#reflection-btn {
    display: block;
    width: 100%;
    font-size: 15px;
    background: hsla(0, 0%, 30%, 0.5);
    color: white;
    border: none;
    padding: 10px;
    margin: none;
}

#reflection-btn:hover {
    cursor:pointer;
    background: hsla(0, 0%, 20%, 0.5);
}

/*-----------------------------------------------------------
 * Reflection textarea styles
 *----------------------------------------------------------*/
#reflection-freetext{
    width: 100%;
}
