
.user-icon{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.comment-text{
    margin-top: 2px;
    width: 400px;
    height: 35px;
}

.send-button{
    margin-left: 2px !important;
    margin-top: 5px !important;
    background-color: #00A2E8 !important;
    color: white !important;
    height: 35px !important;
}

.user-name{
    font-weight: bold !important;

}

.comment{
    font-size: 12px;
    margin-top: 5px;
    padding: 5px 0;
}

.list-header{
    text-decoration: underline !important;
}

.commentSelect{
    margin-top: 2px;
    width: 300px !important;

}

.input-control{
    width: 300px !important;
}

#rating{
    margin-left: 45px;
    margin-top: 10px;
}

.listview {
	padding: 0 30px;
}

.list-title .rating {
	padding-left: 10px;
    position: relative;
    top: 3px;
}

.listview .list {
    height: 65px !important;
}
