/**
 * This file contains styles for the commenting/feedback feature
 */


/*-----------------------------------------------------------
 * General styles for the iframe
 *----------------------------------------------------------*/

html {
    height:100%;
}

body {
    height:100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Open Sans", sans-serif, serif;
    color: white;
} 

/*-----------------------------------------------------------
 * Feedback styles
 *----------------------------------------------------------*/

#feedback-template {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.feedback-component {
    /* margin-bottom: 15px; */
    display:block;
}

.feedback-component-title {
    display: block;
    margin-bottom: 5px;
}

.feedback-icon {
    margin-right: 5px;
    position: relative;
    top: 3px;
    right: 5px;
}
/*-----------------------------------------------------------
 * Feedback sentence dropdown
 *----------------------------------------------------------*/

#sentence-select {
    width: 100%;
    height: 40px;
    /* margin-bottom: 10px; */
}

#sentence-select option {
    font-size: 15px;
}

/*-----------------------------------------------------------
 * Feedback ratings styles
 *----------------------------------------------------------*/

#feedback-ratings {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#feedback-ratings input[type="radio"] {
    margin-right:auto;
}

#feedback-ratings label {
    flex-grow:1;
    padding: 5px 0;

}


/*-----------------------------------------------------------
 * Feedback post button styles
 *----------------------------------------------------------*/

#feedback-btn {
    display: block;
    width: 100%;
    font-size: 15px;
    background: hsla(0, 0%, 30%, 0.5);
    color: white;
    border: none;
    padding: 10px;
    margin: none;
}

#feedback-btn:hover {
    cursor:pointer;
    background: hsla(0, 0%, 20%, 0.5);
}

/*-----------------------------------------------------------
 * Feedback textarea styles
 *----------------------------------------------------------*/
#feedback-freetext{
    width: 100%;
}



/*!*-----------------------------------------------------------*/
 /** Feedback  success popup*/
 /**----------------------------------------------------------*!*/

/*.popover{*/
    /*background: rgb(88, 154, 21) !important;*/
    /*border-top: 1px white;*/
    /*border-bottom: 1px white;*/
/*}*/