.bg-raspberry {
	background-color: #bc1142;
}
.bg-arduino {
	background-color: #19989d;
}
.bg-ardu-pi {
	background-color: #614686;
}
.bg-arud-pi-light {
	background-color: #4e386b;
}
.bg-ideation {
	background-color: #e8b835;
}
.bg-ideation-light {
	background-color: #ba932b;
}
.bg-plan {
	background-color: #589a15;
}
.bg-plan-light {
	background-color: #467b11;
}
.bg-create {
	background-color: #1777b3;
}
.bg-create-light {
	background-color: #135f8f;
}
.bg-share {
	background-color: #e85156;
}
.bg-share-light {
	background-color: #e85156;
}
.bg-projects {
	background-color: #6cafd9;
}
.bg-info-videos {
	background-color: #CE352C;
}
.bg-info-guides {
	background-color: #271c36;
}
.bg-tools-messages {
	background-color: #0e476b;
}
.bg-tools-messages-badge {
	background-color: #0a3048;
}
.bg-tools-shares {
	background-color: #e85156;
}
.bg-help-charm{
	background-color: #3c3f41;
}
.bg-helpbutton-image{
	background-color: #111111;
}
.bg-transparent{
	background-color: rgba(0,0,0,0);
}
.color-help-button:hover{
	background-color: rgb(48,48,48);
	color: white;
}
.oerSearchResult:hover, visited, link, active{
	color: whitesmoke;
	padding: 4px;
}
.vertical-text{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
	width: 20px;
	height: 20px;
	transform-origin: left top 0;
	float: left;
}

h2 {
	margin-bottom: 20px;
}

#username:focus {
	background-color: whitesmoke;
}
#pilotsite:focus {
	background-color: whitesmoke;
}

#oerSearch {
	background-color: #3c3f41;
}

#eCraftLogo {
	width:20%;
	margin:0px;
	padding:0px;
}
#eCraftMotto {
	margin:36px;
}
#mainTileArea {
	padding-top:60px;
}