/**
 * This file contains styles for the sharing feature
 */


/*-----------------------------------------------------------
 * Tabcontrols
 *----------------------------------------------------------*/

 .frame {
     background-color:white !important;
 }

.tabcontrol > .tabs li {
    background-color: white;
}


/*-----------------------------------------------------------
 * Table
 *----------------------------------------------------------*/

.gridview-content td {
    height: 61px;
}

.d-menu li a {
    padding: .75rem 2rem .75rem 1rem !important;
}

.d-menu li a span {
    padding-right:10px;
}

.dataTables_paginate {
    float: none !important;
    margin-bottom: 5px !important;
}

/*-----------------------------------------------------------
 * Sharing status
 *
 * 0 - Wating for teacher approval (default)
 * [Gray] - .sharing-status-indicator
 *
 * 1 - Approved by teacher
 * [Green] - .sharing-status-approved
 *
 * 2 - Sharing request rejected by teacher
 * [Red] - .sharing-status-rejected
 *
 * 3 - Wating for teacher approval to remove / stop sharing
 * [Yellow] - .sharing-status-awaiting-removal
 *----------------------------------------------------------*/

.sharing-status-indicator::before {
    content: "";
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border: 2px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 50%;
    display: inline-block;
    margin-right:5px;
    position: relative;
    top: 3px;
}

.sharing-status-approved::before {
    background-color: #6bbd17;
}

.sharing-status-rejected::before {
    background-color: #ffef2c;
}

.sharing-status-awaiting-removal::before {
    background-color: #D15353;
}


/*-----------------------------------------------------------
 * File icons
 *----------------------------------------------------------*/
.file-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*-----------------------------------------------------------
 * hint
 *----------------------------------------------------------*/

 .content-hint > span {
    border-bottom: 1px dashed #c5c5c5;
 }

/*-----------------------------------------------------------
 * Character counter
 *----------------------------------------------------------*/

 .charCount {
    position: absolute;
    bottom: 10px;
    right: 5px;
    color: #d2d2d2;
 }
